.left{
   
   
    display: flex;
   
}
.menu{
    height: 24px;
    margin-left: 20px;
    margin-right: 20px;
}
.logo{
    height: 24px;
}
.middle{
    /* background-color: blue; */
     flex: 1;
     margin-left: 50px;
     margin-right: 50px;
     max-width: 600px;
     display: flex;
     align-items: center;
     font-family: "Roboto";
}
.right{
     width: 220px;

     display: flex;
     align-items: center;
     justify-content: space-evenly;
     flex-shrink: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 55px;
     align-items: center;
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     background-color: whitesmoke;
     border-bottom-width:1px ;
     border-bottom-style:solid ;
     border-bottom-color:rgb(198, 192, 192) ;
     z-index: 1;
    }


.search-bar{
   
    font-family: "Roboto";
    flex: 1;
   height: 32px;
   padding-right: 15px;
   font-size: 16px;
   border-radius: 2px ;
   border-color: rgb(229, 227, 227);
   border-style: solid;
   border-width: 1px;
   box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
   width: 0;
}
.search-btn{
    display: flex;
    align-items: center;
    width: 40px;
    height: 29px;
    border-radius: 2px;
    border-color: rgb(229, 227, 227);
   border-style: solid;
   border-width: 1px;

 
}
.voice-btn{
    width: 30px;
    height: 30px;
    margin-left: 15px;
   
}
.b{
    border: 2px solid whitesmoke;

    border-radius: 30px;
    opacity: 1;
}
.upload{
    height:24px;

}
.profile-logo{
      width: 34px;
      border-radius: 50%;
}
.notification{
    position: relative;
}
.number{
    position: absolute;
    background-color: red;
    color: white;
    padding-left: 5px;
    padding-right:5px ;
    border-radius: 50%;
    font-size: 11px;
    top: -3px;
    right: -3px;
}
   