.time{
    background-color: black;
    color: white;
    position: absolute;
    right: 5px;
    bottom: 10px;
    font-size: 11px;
    font-family: "Roboto";
    border-radius: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;

}